html{
    font-size: 100%;
    font-family: serif;
}
main{
    margin-top: 5%;
    
    width: 100%;
    display: flex;

    align-items: center;
}
.izutext{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    font-size: 20px;
}
.main-text{

    width: 89%;
}
.izutext h2{
    font-size: 60px;
    text-align: center;
}

.izu-img{
    display: inline-block;
    width: 120%;

}
.main-img{
    width: 80%;
}
.slide{
    width: 100%;
}

.swiper-img{
    display: block;
    width: 200px;
    height: 240px;
}
.swiper-text{

    width: fit-content;
    /* 子要素に合わせる事ができる */

}
.wrapper-h2{
    display: block;
    font-size: 60px;

    text-align: center;
    margin: auto 0;
}
.wrapper-text{
    margin-top: 200px;
    margin-bottom: 270px;

}
swiper-slide a{
    display: block;



    text-decoration: none;
    color: black;
    text-align: center;
}
swiper-slide{
    margin-left: auto;
}swiper-container{
    margin: 0 auto;
}
.area-content{
    width: 1024px;
    text-decoration: none;
    text-align: center;

    /* width: 50%; */
    margin: 0 auto;
}
.area-content li{
    text-decoration: none;
    list-style: none;




}
.p{
    text-decoration: none;
    color: black;
    width: 100%;


}
.content{
    width: 100%;
    text-align: center;
    margin: 0 auto;
    width: 200px;
    height: 200px;
}
.area-ul{
    width: 50%;
    height: 50%;
        flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
    display: flex;
}
.area-text{
    font-size: 60px;

    text-align: center;
}
.area-text-wrpper{
    margin-top: 150px;
    margin-bottom: 150px;
}