html{
    font-size: 100%;
    font-family: serif;
}
main{
    margin-top: 5%;
    
    width: 100%;
    display: flex;

    align-items: center;
}
.izutext{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    font-size: 20px;
}
.main-text{

    width: 89%;
}
.izutext h2{
    text-align: center;
}

.izu-img{
    display: inline-block;
    width: 120%;

}
.main-img{
    width: 80%;
}
.slide{
    width: 100%;
}

.swiper-img{
    display: block;
    width: 200px;
    height: 240px;
}
.swiper-text{
    width: fit-content;
    /* 子要素に合わせる事ができる */
}
.wrapper-h2{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
swiper-slide a{
    display: block;



    text-decoration: none;
    color: black;
    text-align: center;
}
swiper-slide{
    margin-left: auto;
}swiper-container{
    margin: 0 auto;
}
.area-content{
    text-decoration: none;
    text-align: center;

    width: 100%;

    margin: 0 auto;
}
.p{
    text-decoration: none;
    color: black;


}
.content{
    width: 100%;
    text-align: center;
    margin: 0 auto;
    width: 200px;
    height: 200px;
}
.area{
    width: 100%;
    text-align: center;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}
.area-text{
    margin-top: 30px;
    text-align: center;
}