html{
    font-family: serif,Verdana, Geneva, Tahoma ;
        
    }
    img{
        object-fit: cover;
        display: block;
        width: 30px;


    }
    .main-text{
        text-align: center;
        font-size: 20px;
        margin-bottom: 20px;
    }
    .main-li{
        list-style: none;
        width: calc(100%/3);
        padding: 10px;
        text-align: center;
    
    }
    .main-li:last-child{
        font-size: 14px;
    }
    .main-li-a{
    
        text-decoration: none;
        color: black;
    }
    .main-top{
        flex-direction: column;
        margin-top: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .main-ul{
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid rgb(137, 130, 130);
        width: 50%;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    .east-izu{
        width: 100%;
    }
    .east-imgs{
        width: 30px;
        display: flex;
    }
    .east-img a{
    
    }